<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|50","right":"var:preset|spacing|40","bottom":"var:preset|spacing|60","left":"var:preset|spacing|40"}}},"backgroundColor":"brown","layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull has-brown-background-color has-background" style="padding-top:var(--wp--preset--spacing--50);padding-right:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--60);padding-left:var(--wp--preset--spacing--40)">
<!-- wp:post-title {"level":1} /-->
<!-- wp:post-featured-image {"className":"kp-ensemble-single-image"} /-->
<!-- wp:post-content /-->
<!-- wp:buttons --><div class="wp-block-buttons"><!-- wp:button {"backgroundColor":"orange"} --><div class="wp-block-button"><a class="wp-block-button__link has-orange-background-color has-background wp-element-button" href="/das-theater/">← Zurück zum Theater</a></div><!-- /wp:button --></div><!-- /wp:buttons -->
</main><!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->